# general
obj
bin
.DS_Store
.env
appsettings.Development.json
.idea
.vscode 
start-dev.sh
.vs

# frontend
frontend/ca.crt
frontend/ca.key
frontend/ca.srl
frontend/dev-cert.sh
frontend/localhost.crt
frontend/localhost.csr
frontend/localhost.key
frontend/localhost.pfx
frontend/appsettings.Local.json

# api
# -- keep directory for upload cache
!api/TrainingData/UploadCache/
api/TrainingData/UploadCache/*
!api/TrainingData/UploadCache/.gitkeep
# -- keep directory for model cache
!api/TrainingData/ModelCache/
api/TrainingData/ModelCache/*
!api/TrainingData/ModelCache/.gitkeep
