@page "/label/{labelId:int?}"

<PageTitle>Create / Edit Labels</PageTitle>

@* @inject ILabelViewModel labelViewModel; *@

<div class="row mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/labels">Labels</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                @if (labelId == null)
                {
                    <span>Create</span>
                }
                else
                {
                    <span>Edit</span>
                }
            </li>
        </ol>
    </nav>
</div>

<div class="row">
    <form>

        <div class="alert alert-danger" role="alert">
            Error
        </div>

        @if (labelId != null)
        {
            <div class="mb-3">
                <label for="inputLabelId" class="form-label">id</label>
                <input type="text" class="form-control" id="inputLabelId" @bind="labelId" disabled>
            </div>
        }

        <div class="mb-3">
            <label for="inputLabelName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputLabelName">
        </div>

        @if (labelId == null)
        {
            <button type="button" class="btn btn-success fw-b"><span class="oi oi-plus me-1"></span> Add</button>
        }
        else
        {
            <button type="button" class="btn btn-warning"><span class="oi oi-pencil me-1"></span> Edit</button>

        }
    </form>
</div>

@code
{
    [Parameter]
    public int? labelId { get; set; }
    @* private string? inputLabelName; *@
}