@page "/datasets"

<PageTitle>Datasets</PageTitle>

@using frontend.Models
@using frontend.Services
@inject DatasetService DatasetService

<div class="row my-3">
    <nav aria-label="breadcrumb" class="d-flex  flex-row justify-content-between align-items-center">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Datasets</li>
            <li class="breadcrumb-item active" aria-current="page">View All</li>
        </ol>
        <a href="/dataset/create" class="btn btn-sm btn-success py-1">new dataset</a>

    </nav>
</div>

<div class="row">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>count</th>
                    <th>creation date</th>
                    <th>modified date</th>
                    <th class="text-end">
                       actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (datasets == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                    @foreach (var dataset in datasets)
                    {
                        <tr>
                            <td>@dataset.Id</td>
                            <td>@dataset.Name</td>
                            <td>TODO</td>
                            <td>@dataset.CreatedDate</td>
                            <td>@dataset.UpdatedDate</td>
                            <td>
                                <div class="d-flex flex-row-reverse">

                                    <button class="btn btn-danger btn-sm mx-1" @onclick="() => handleDelete(dataset.Id)">
                                        <span class="oi oi-trash"></span>
                                    </button>
                                    <a href="/dataset/@dataset.Id" class="btn btn-warning btn-sm mx-1">
                                        <span class="oi oi-pencil"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>

@code
{
    private List<Dataset>? datasets { get; set; }

    private async void handleDelete(int id)
    {
        var response = await DatasetService.Delete(id);

        if (((int)response.StatusCode) == 200)
        {
            datasets = await DatasetService.Get();
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        datasets = await DatasetService.Get();
    }
}