@page "/datasets/create"

<PageTitle>Create a new dataset</PageTitle>

@inject ICreateDataSetViewModel _viewModel;
@inject NavigationManager _navigation;

<div class="d-flex flex-row justify-content-between align-items-center">
    <h1>Datasets &#187; Create</h1>
    <a href="/datasets">
        <button class="btn btn-small btn-danger">
            Cancel
        </button>
    </a>
</div>

<div class="w-full border-top my-3"></div>

<div class="container form-container">
    <form>
        <div class="mb-3">
            <label for="datasetNaam" class="form-label">Naam</label>
            <input type="text" class="form-control" id="datasetNaam" @bind="_viewModel.DataSet.Naam">
        </div>
        <div class="d-grid">
            <button class="btn btn-primary" type="button" @onclick="Create">
                Add dataset
            </button>
        </div>
    </form>
</div>

@code {
    private async Task Create()
    {
        await _viewModel.CreateDataSetAsync();
        _navigation.NavigateTo("/datasets");
    }
}
