@* TODO: Add Delete single keyword logic, Add Edit single keyword logic *@

@page "/keywordsets/{KeywordSetId:int}/edit"

<PageTitle>Edit Keywordset #@KeywordSetId | AGLS</PageTitle>

@* TODO: CHange to Base EDIT view ipv DETAIL view! *@
@inherits BaseKeywordSetEditView

<div class="row my-3">
    <nav aria-label="breadcrumb" class="d-flex flex-row justify-content-between align-items-center">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                <a href="/keywordsets">
                    Keywordsets
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Edit #@KeywordSetId</li>
        </ol>
        <a href="/keywordsets" class="btn btn-sm btn-primary py-1 btn-lg fw-bold">
            BACK <span class="oi oi-caret-left ps-1"></span>
        </a>
    </nav>
</div>

<div class="container form-container">
    @if (ViewModel.KeywordSet == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <div>
            <label for="inputKeywordsetId" class="form-label">Id</label>
            <input type="text" class="form-control" id="inputKeywordsetId" disabled @bind="ViewModel.KeywordSet.Id">
        </div>

        <div>
            <label for="inputKeywordsetName" class="form-label">Name</label>
            <input type="text" class="form-control" id="inputKeywordsetName" @bind="ViewModel.KeywordSet.Name">
        </div>

        <div class="d-grid">
            <button type="button" class="btn btn-sm btn-primary" @onclick="ViewModel.UpdateKeywordSetAsync">
                Save changes 
            </button>
        </div>

        <div class="table-responsive">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h4 class="text-primary">Keywords</h4>
                <a href="/keywordsets/@KeywordSetId/add" class="btn btn-sm btn-primary py-1 btn-lg fw-bold">
                    NEW <span class="oi oi-plus ps-1"></span>
                </a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>creation date</th>
                    <th>modified date</th>
                    <th class="text-end">
                        actions
                    </th>
                </tr>
                </thead>
                <tbody>
                @if (ViewModel.Keywords == null)
                {
                    <p>
                        <em>Loading...</em>
                    </p>
                }
                else
                {
                    @foreach (var keyword in ViewModel.Keywords)
                    {
                        <tr>
                            <td>#@keyword.Id</td>
                            <td>@keyword.Name</td>
                            <td>@keyword.CreatedAt.ToShortDateString()</td>
                            <td>@keyword.LastModifiedAt.ToShortDateString()</td>
                            <td>
                                <div class="d-flex flex-row-reverse">

                                    <button @onclick="() => HandleDeleteClick(keyword.Id)" class="btn btn-danger btn-sm mx-1">
                                        <span class="oi oi-trash"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }
</div>