@page "/repositories/view/{Id:int}"
@using frontend.ViewModels.Commits

<PageTitle>View repository @Id</PageTitle>

@inject IViewRepositoryViewModel _viewModel;
@inject IListCommitsViewModel _commitsViewModel;
@inject NavigationManager _navigation;

<div class="d-flex flex-row justify-content-between align-items-center">
    <h1>Repositories &#187; View</h1>
    <a href="/repositories">
        <button class="btn btn-small btn-danger">
            Cancel
        </button>
    </a>
</div>

<div class="w-full border-top my-3"></div>

<div class="container">
    <div class="form-container m-auto">
        <form>
            <div class="mb-3">
                <label for="repoNaam" class="form-label">Naam</label>
                <input type="text" class="form-control" id="repoNaam" @bind="_viewModel.Repository.Naam">
            </div>
            <div class="mb-3">
                <label for="repoUrl" class="form-label">URL</label>
                <input type="text" class="form-control" id="repoUrl" @bind="_viewModel.Repository.Url">
            </div>
            <div class="d-grid mb-3">
                <button class="btn btn-primary" type="button" @onclick="SubmitEdit">
                    Bewerking toepassen
                </button>
            </div>
        </form>
    </div>

    <table class="table m-auto">
        <thead>
        <tr>
            <th>Hash</th>
            <th>Datum/tijd</th>
            <th>Bericht</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var commit in _commitsViewModel.Commits)
        {
            <tr>
                <td>@commit.Hash</td>
                <td>@commit.Date</td>
                <td>@commit.Message</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await _viewModel.LoadRepositoryAsync(Id);
        await _commitsViewModel.FetchCommitsForRepoAsync(Id);
    }

    private async void SubmitEdit()
    {
        await _viewModel.SubmitEditAsync(Id);
        _navigation.NavigateTo("/repositories");
    }
}
