<div class="top-row navbar navbar-light">
    <div class="container-fluid">
        <a class="d-flex flex-fill justify-content-center align-content-center" href="/">
            <img src="img/typeface_agls.png" alt="AGLS logo" style="height: 34px">
        </a>
        <button title="Navigation menu" class="navbar-toggler position-absolute" style="right: 4px" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/repositories">
                <span class="oi oi-list" aria-hidden="true"></span> Repositories
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="keywordsets">
                <span class="oi oi-tags" aria-hidden="true"></span> Keywords
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datasets">
                <span class="oi oi-list-rich"  aria-hidden="true"></span> Datasets
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/machine-learning">
                <span class="oi oi-graph"  aria-hidden="true"></span> ML.NET
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
